:root {
  --clr-tan: #f8ddc0;
  --clr-pink: #f1b0a2;
  --clr-red: #d86338;
  --clr-black: #232323;
  --clr-white: #fff;

  --typo-serif: "Playfair Display", serif;
  --typo-lato: "Lato", sans-serif;

  --clr-tan_trans: #f8ddc0;
}

$navBar-height: 10vw;
$iconBar-height: 5%;
