:root {
  --clr-tan: #f8ddc0;
  --clr-pink: #f1b0a2;
  --clr-red: #d86338;
  --clr-black: #232323;
  --clr-grey: hsl(0, 0%, 45%);
  --clr-white: #fff;
  --typo-serif: "Playfair Display", serif;
  --typo-lato: "Lato", sans-serif;
  --clr-tan_trans: #f8ddc0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "lato", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--clr-black);
  overflow-x: hidden;
}

.section-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodyWrap {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  color: var(--clr-black);
  line-height: 1.6;
}

p {
  font-family: var(--typo-serif);
}

h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 4.36rem;
  font-weight: 900;
  color: var(--clr-tan);
}

.playSmallCaps {
  font-weight: 800;
  font-variant: small-caps;
  font-family: var(--typo-serif);
}

@-webkit-keyframes aniImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
            box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 1.5em 2.5em 4em rgba(35, 35, 35, 0.2);
            box-shadow: 1.5em 2.5em 4em rgba(35, 35, 35, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
            box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
  }
}

@keyframes aniImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
            box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 1.5em 2.5em 4em rgba(35, 35, 35, 0.2);
            box-shadow: 1.5em 2.5em 4em rgba(35, 35, 35, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
            box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
  }
}

@-webkit-keyframes collapse {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 1;
    left: -10vw;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 1;
    left: -10vw;
  }
}

@-webkit-keyframes open {
  from {
    opacity: 1;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes open {
  from {
    opacity: 1;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes aniNav {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 240%;
  }
}

@keyframes aniNav {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 240%;
  }
}

@-webkit-keyframes aniDownIcon {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  60% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes aniDownIcon {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  60% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.indexHead {
  padding-top: 1rem;
  position: relative;
  width: 100vw;
  padding-left: 0%;
  overflow: hidden;
  background-color: var(--clr-pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexHead h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--clr-pink);
  letter-spacing: 0.1em;
  text-shadow: 0.1em 0.05em 0 var(--clr-tan);
  z-index: 1;
  width: 75%;
}

@media (max-width: 87.5em) {
  .indexHead h1 {
    font-size: 6rem;
  }
}

@media (max-width: 56.25em) {
  .indexHead h1 {
    font-size: 4rem;
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .indexHead h1 {
    margin-left: 3rem;
  }
}

.indexHead::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: var(--clr-black);
  z-index: -1;
}

.indexHead::after {
  position: absolute;
  top: 0.3em;
  left: 0.4%;
  letter-spacing: 0.1em;
  color: var(--clr-pink);
  z-index: 10;
  height: 100%;
  font-size: 10rem;
}

.header__social {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--clr-tan);
  z-index: 12;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__social img {
  height: 5rem;
}

.header__social a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__social a:hover, .header__social a:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__social:hover, .header__social:focus {
  width: 30rem;
  padding: 3rem 2rem;
}

#welcome {
  text-transform: none;
}

.section__bio {
  height: 150%;
  margin-top: -10rem;
  padding: 10rem 5rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--clr-pink);
}

@media (max-width: 56.25em) {
  .section__bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7rem 3rem;
  }
}

.section__bio--textbox h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 4.36rem;
  font-weight: 900;
  color: var(--clr-tan);
}

.section__bio--textbox p {
  font-size: 1.7rem;
  line-height: 1.6;
}

.flexR-50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

@media (max-width: 56.25em) {
  .flexR-50 {
    width: 100%;
  }
}

.flexC-50 {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media (max-width: 56.25em) {
  .flexC-50 {
    width: 100%;
  }
}

.section__tan {
  background-color: var(--clr-tan);
}

.section__fillerBox {
  height: 100vh;
}

.youTube__embed {
  padding-top: 5rem;
  width: 100%;
  aspect-ratio: 1.77777777777778;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100rem;
}

.schedEmbed {
  background-color: var(--clr-black);
  padding: 5rem 15rem 10rem 15rem;
  max-width: 100%;
  width: 70%;
}

.schedEmbed__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  .schedEmbed {
    padding: 5rem;
  }
}

.epk {
  background-color: var(--clr-pink);
  padding: 5rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4em;
}

@media (max-width: 75em) {
  .epk {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 6rem;
    width: 100%;
    gap: 2em;
  }
}

.epk__video {
  margin-bottom: 3rem;
  height: 35rem;
}

@media (max-width: 56.25em) {
  .epk__video {
    width: 90%;
    height: auto;
  }
}

.epk__textBox:not(last-of-type) {
  margin-bottom: 8rem;
}

.epk__textBox p {
  font-size: 1.7rem;
  max-width: 250rem;
}

.epk__textBox p span {
  font-family: eloquent-jf-small-caps-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(35, 35, 35, 0.7);
}

.epk__quote {
  position: relative;
  padding: 2rem 3rem;
  margin-top: 8rem;
}

.epk__quote blockquote {
  font-size: 2.75rem;
  font-family: eloquent-jf-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(35, 35, 35, 0.8);
}

@media (max-width: 56.25em) {
  .epk__quote blockquote {
    font-size: 1.7rem;
  }
}

.epk__quote blockquote::before {
  content: open-quote;
  position: absolute;
  top: -0.6em;
  left: -0.1em;
  font-size: 7em;
  font-weight: bold;
  color: var(--clr-tan_trans);
  z-index: 0;
  opacity: 0.5;
}

.epk__quote blockquote::after {
  content: close-quote;
  position: absolute;
  bottom: -0.9em;
  right: -0.1em;
  font-size: 7em;
  font-weight: bold;
  color: var(--clr-tan_trans);
  z-index: 0;
  opacity: 0.5;
}

.epk__quote p {
  font-size: 1.7rem;
  margin-top: 2rem;
  font-family: var(--typo-lato);
  font-weight: 900;
  color: var(--clr-tan);
}

.indexHead--invert {
  padding-top: 1rem;
  position: relative;
  width: 100vw;
  padding-left: 0%;
  overflow: hidden;
  background-color: var(--clr-black);
}

.indexHead--invert h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--clr-black);
  letter-spacing: 0.1em;
  text-shadow: 0.1em 0.05em 0 var(--clr-pink);
  z-index: 1;
}

.indexHead--invert::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: var(--clr-black);
  z-index: -1;
}

.indexHead--invert::after {
  position: absolute;
  top: 0.3em;
  left: 0.4%;
  letter-spacing: 0.1em;
  color: var(--clr-pink);
  z-index: 10;
  height: 100%;
  font-size: 10rem;
}

#welcome {
  text-transform: none;
}

.section-contact {
  padding: 15rem 5rem;
  background-color: var(--clr-tan);
  height: 100vh;
}

.section-contact__box {
  background-image: url(header_siteHeaderKeep.jpg);
  background-size: 100%;
  background-position: center;
  border-radius: 3px;
  -webkit-box-shadow: 1rem 2rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 2rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 3rem;
}

@media (max-width: 56.25em) {
  .section-contact__box {
    background-size: cover;
  }
}

.section-contact__box--box {
  width: 60vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(35, 35, 35, 0.1)), to(rgba(35, 35, 35, 0.5)));
  background-image: linear-gradient(to bottom right, rgba(35, 35, 35, 0.1), rgba(35, 35, 35, 0.5));
  border: 1px solid rgba(35, 35, 35, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 2rem 3rem;
}

@media (max-width: 56.25em) {
  .section-contact__box--box {
    width: 100%;
  }
}

.section-contact__box__form {
  width: 50%;
  padding: 6rem;
}

.absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__open {
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 50%;
  z-index: 100;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media (min-width: 56.25em) {
  .nav__open {
    top: 4rem;
    left: 90%;
  }
}

.nav__open--bkg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(248, 221, 192, 0.3)), to(rgba(248, 221, 192, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(248, 221, 192, 0.3), rgba(248, 221, 192, 0.7));
  border: 5px solid var(--clr-black);
  -webkit-box-shadow: 0 0 3rem var(--clr-pink), inset 0rem 0rem 5rem var(--clr-tan);
          box-shadow: 0 0 3rem var(--clr-pink), inset 0rem 0rem 5rem var(--clr-tan);
}

.nav__open--icon ion-icon {
  font-size: 5rem;
  color: var(--clr-black);
}

.nav__open:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 7rem var(--clr-pink), inset 0rem 0rem 10rem var(--clr-tan);
          box-shadow: 0 0 7rem var(--clr-pink), inset 0rem 0rem 10rem var(--clr-tan);
}

.nav__nav {
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.nav__content {
  width: 95vw;
  padding: 2rem 5rem;
  max-height: 60rem;
}

.nav__close {
  position: absolute;
  top: 4rem;
  right: 4rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: var(--clr-tan);
}

.nav__close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__close ion-icon {
  font-size: 8rem;
}

.nav__bkg {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--clr-tan), var(--clr-black));
  background-size: 240%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__list {
  list-style: none;
}

.nav__list--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__list--item {
  font-size: 5rem;
  padding: 2rem 3rem;
  cursor: pointer;
}

.nav__list--item:hover {
  color: var(--clr-black);
  -webkit-transform: translate(1rem) scale(1.1);
          transform: translate(1rem) scale(1.1);
  background-color: var(--clr-pink);
  -webkit-box-shadow: 2rem 0 0 var(--clr-pink);
          box-shadow: 2rem 0 0 var(--clr-pink);
}

.nav__list--item:hover .nav__link {
  color: var(--clr-black);
}

.nav__link {
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-shadow: -0.2rem -0.2rem 0 var(--clr-black);
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: var(--clr-pink);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transform: translateX(0) scale(0);
          transform: translateX(0) scale(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav ion-icon {
  font-size: 6rem;
  text-shadow: -0.2rem -0.2rem 0 var(--clr-black);
}

.nav__icon {
  text-align: center;
  color: var(--clr-pink);
}

.nav__icon ion-icon {
  color: var(--clr-black);
}

.showNav {
  display: initial;
  opacity: 1;
}

.hideNav {
  display: none;
  opacity: 0;
}

.aniBkg {
  -webkit-animation: aniNav 5s ease-in-out;
          animation: aniNav 5s ease-in-out;
}

.currentNav {
  background-color: var(--clr-pink);
  -webkit-box-shadow: 2rem 0 0 var(--clr-pink);
          box-shadow: 2rem 0 0 var(--clr-pink);
  color: var(--clr-black) !important;
  text-shadow: -0.2rem -0.2rem 0 var(--clr-tan);
}

.banner {
  background-color: var(--clr-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7rem 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  width: 100vw;
  margin-right: 7rem;
}

@media (max-width: 75em) {
  .banner {
    padding: 5rem 7rem;
  }
}

@media (max-width: 56.25em) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 3rem;
  }
}

.banner__textBox {
  width: 50%;
}

.banner h2 {
  font-size: 3.8rem;
  color: var(--clr-tan);
  font-family: eloquent-jf-pro, serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

@media (max-width: 56.25em) {
  .banner h2 {
    font-size: 2rem;
    text-align: center;
  }
}

.banner h2 span {
  color: var(--clr-pink);
  position: relative;
  font-family: eloquent-jf-small-caps-pro, serif;
  font-weight: 400;
  font-style: italic;
}

.banner__cta {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 3.8rem;
  color: var(--clr-pink);
  padding: 1em 1.5em;
  border: 3px solid var(--clr-pink);
  text-shadow: 0 0 0.25em var(--clr-pink), 0 0 0.25em rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 0.5em var(--clr-pink), 0em 0em 0.5em var(--clr-pink);
          box-shadow: inset 0 0 0.5em var(--clr-pink), 0em 0em 0.5em var(--clr-pink);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 1;
}

@media (max-width: 56.25em) {
  .banner__cta {
    font-size: 2rem;
  }
}

.banner__cta--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  width: auto;
  -webkit-filter: brightness(0) saturate(100%) invert(92%) sepia(85%) saturate(7150%) hue-rotate(293deg) brightness(103%) contrast(89%);
          filter: brightness(0) saturate(100%) invert(92%) sepia(85%) saturate(7150%) hue-rotate(293deg) brightness(103%) contrast(89%);
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

.banner__cta::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--clr-pink);
  -webkit-filter: blur(1.5em);
          filter: blur(1.5em);
  opacity: 0.75;
  -webkit-transform: perspective(1em) rotateX(45deg) scale(1, 0.35);
          transform: perspective(1em) rotateX(45deg) scale(1, 0.35);
}

.banner__cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 2em 0.5em var(--clr-pink);
          box-shadow: 0 0 2em 0.5em var(--clr-pink);
  opacity: 0;
  z-index: -1;
  background-color: var(--clr-pink);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.banner__cta:hover, .banner__cta:focus {
  color: var(--clr-black);
  text-shadow: none;
}

.banner__cta:hover .banner__cta--img {
  -webkit-filter: brightness(0) saturate(100%) invert(4%) sepia(31%) saturate(35%) hue-rotate(320deg) brightness(105%) contrast(79%);
          filter: brightness(0) saturate(100%) invert(4%) sepia(31%) saturate(35%) hue-rotate(320deg) brightness(105%) contrast(79%);
}

.banner__cta:hover::after, .banner__cta:hover::before {
  opacity: 1;
}

.section__footer {
  background-color: var(--clr-black);
  padding: 10rem 3rem 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section__footer--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--clr-tan);
  width: 30%;
}

.section__footer--social img {
  -webkit-filter: invert(91%) sepia(6%) saturate(1702%) hue-rotate(326deg) brightness(103%) contrast(94%);
          filter: invert(91%) sepia(6%) saturate(1702%) hue-rotate(326deg) brightness(103%) contrast(94%);
}

.section__footer--social a {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.section__footer--social a:hover, .section__footer--social a:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(0) saturate(100%) invert(89%) sepia(77%) saturate(5991%) hue-rotate(293deg) brightness(103%) contrast(89%);
          filter: brightness(0) saturate(100%) invert(89%) sepia(77%) saturate(5991%) hue-rotate(293deg) brightness(103%) contrast(89%);
}

@media (max-width: 56.25em) {
  .section__footer--social a img {
    height: 4rem;
  }
}

.section__footer h2 {
  color: var(--clr-pink);
  font-size: 5rem;
  font-weight: 100;
  margin-top: 2rem;
  letter-spacing: 0.2em;
  text-transform: lowercase;
}

@media (max-width: 56.25em) {
  .section__footer h2 {
    font-size: 4rem;
    text-align: center;
  }
}

.section__footer--navi {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-tan);
  width: 35%;
}

.section__footer--navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5em;
  list-style: none;
}

.section__footer--navi ul li a {
  text-decoration: none;
  color: var(--clr-tan);
  text-transform: lowercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.7rem;
}

.section__footer--navi ul li a:hover, .section__footer--navi ul li a:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--clr-pink);
}

.footNote {
  color: var(--clr-grey);
  font-size: 1.5rem;
  font-family: var(--type-lato);
  font-weight: 200;
}

.footNote__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footNote span {
  color: var(--clr-tan);
}

#spotify {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.lyrics__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.lyrics__tabs--label {
  padding: 1rem 1.6rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--clr-tan);
  text-transform: uppercase;
}

@media (max-width: 37.5em) {
  .lyrics__tabs--label {
    margin-left: 1rem;
  }
}

.lyrics__tabs--radio {
  display: none;
}

.lyrics__tabs--content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  display: none;
  padding: 2rem 10rem;
  margin-top: 10rem;
}

.lyrics__tabs--content p {
  color: var(--clr-tan);
  font-size: 1.7rem;
  font-family: var(--typo-serif);
}

.lyrics__tabs--content p:not(last-of-type) {
  margin-bottom: 2rem;
}

.lyrics__tabs--radio:checked + .lyrics__tabs--label {
  font-weight: bold;
  color: var(--clr-black);
  background-color: var(--clr-pink);
}

.lyrics__tabs--radio:checked + .lyrics__tabs--label + .lyrics__tabs--content {
  display: initial;
}

.imgBox {
  padding: 10rem 5rem 10rem 5rem;
  width: calc(100vw - $iconBar-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5rem;
  margin-bottom: 10rem;
  background-color: var(--clr-tan);
}

@media (max-width: 75em) {
  .imgBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (max-width: 37.5em) {
  .imgBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.imgBox figcaption:nth-of-type(1) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  bottom: -0.5em;
  left: 0.25em;
}

@media (max-width: 37.5em) {
  .imgBox figcaption:nth-of-type(1) {
    bottom: -0.5em;
  }
}

.imgBox figcaption:nth-of-type(2) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: -0.5em;
  right: 0.25em;
}

.imgBox figcaption:nth-of-type(3) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: -0.5em;
  left: 0.25em;
}

.imgBox figcaption:nth-of-type(4) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  bottom: -0.5em;
  right: -0.6em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
}

.imgBox__img {
  height: auto;
  width: 100%;
  position: relative;
}

@media (max-width: 75em) {
  .imgBox__img {
    width: 100%;
  }
}

.imgBox__img--box {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
          box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

@media (max-width: 75em) {
  .imgBox__img--box {
    width: 25%;
  }
}

@media (max-width: 56.25em) {
  .imgBox__img--box {
    width: 25%;
  }
}

@media (max-width: 37.5em) {
  .imgBox__img--box {
    width: 60%;
  }
}

.imgBox__img--1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.imgBox__img--1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 8.9em solid var(--clr-pink);
  z-index: 1;
}

@media (max-width: 56.25em) {
  .imgBox__img--1::before {
    border: 5.5em solid var(--clr-pink);
  }
}

@media (max-width: 37.5em) {
  .imgBox__img--1::before {
    border: 3.39em solid var(--clr-pink);
  }
}

.imgBox__img--2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.imgBox__img--2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5em solid var(--clr-pink);
  z-index: 10;
}

@media (max-width: 56.25em) {
  .imgBox__img--2::before {
    border: 3em solid var(--clr-pink);
  }
}

.imgBox__img--3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.imgBox__img--3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 8.9em solid var(--clr-pink);
  z-index: 10;
}

@media (max-width: 56.25em) {
  .imgBox__img--3::before {
    border: 5.5em solid var(--clr-pink);
  }
}

@media (max-width: 37.5em) {
  .imgBox__img--3::before {
    border: 3.39em solid var(--clr-pink);
  }
}

.imgBox__img--4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.imgBox__img--4::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5em solid var(--clr-pink);
  z-index: 10;
}

@media (max-width: 56.25em) {
  .imgBox__img--4::before {
    border: 3em solid var(--clr-pink);
  }
}

.imgBoxEPK {
  width: calc(100vw - $iconBar-height);
  margin-top: -5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5rem;
}

@media (max-width: 75em) {
  .imgBoxEPK {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

@media (max-width: 56.25em) {
  .imgBoxEPK {
    width: 90%;
  }
}

@media (max-width: 37.5em) {
  .imgBoxEPK {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.imgBoxEPK figcaption:nth-of-type(1) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  bottom: -0.5em;
  left: 0.25em;
}

.imgBoxEPK figcaption:nth-of-type(2) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: -0.5em;
  right: 0.25em;
}

.imgBoxEPK figcaption:nth-of-type(3) {
  text-transform: uppercase;
  color: var(--clr-black);
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: -0.5em;
  left: 0.25em;
}

.imgBoxEPK__img {
  height: auto;
  width: 100%;
  position: relative;
}

.imgBoxEPK__img--box {
  height: auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
          box-shadow: 1em 2em 1em rgba(35, 35, 35, 0.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

@media (max-width: 75em) {
  .imgBoxEPK__img--box {
    width: 25%;
  }
}

@media (max-width: 56.25em) {
  .imgBoxEPK__img--box {
    width: 25%;
  }
}

@media (max-width: 37.5em) {
  .imgBoxEPK__img--box {
    width: 60%;
  }
}

.imgBoxEPK__img--1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.imgBoxEPK__img--1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 8.9em solid var(--clr-tan);
  z-index: 1;
}

@media (max-width: 56.25em) {
  .imgBoxEPK__img--1::before {
    border: 5.5em solid var(--clr-tan);
  }
}

@media (max-width: 37.5em) {
  .imgBoxEPK__img--1::before {
    border: 3.39em solid var(--clr-tan);
  }
}

.imgBoxEPK__img--2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.imgBoxEPK__img--2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5em solid var(--clr-tan);
  z-index: 10;
}

@media (max-width: 56.25em) {
  .imgBoxEPK__img--2::before {
    border: 3em solid var(--clr-tan);
  }
}

.imgBoxEPK__img--3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.imgBoxEPK__img--3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 8.9em solid var(--clr-tan);
  z-index: 10;
}

@media (max-width: 56.25em) {
  .imgBoxEPK__img--3::before {
    border: 5.5em solid var(--clr-tan);
  }
}

@media (max-width: 37.5em) {
  .imgBoxEPK__img--3::before {
    border: 3.39em solid var(--clr-tan);
  }
}

.imgBoxEPK__img--4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: aniImg 7s ease-in-out 2;
          animation: aniImg 7s ease-in-out 2;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.imgBoxEPK__img--4::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5em solid var(--clr-tan);
  z-index: 10;
}

@media (max-width: 56.25em) {
  .imgBoxEPK__img--4::before {
    border: 3em solid var(--clr-tan);
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  font-size: 1.7rem;
  padding: 1.5rem 2rem;
  background-color: rgba(35, 35, 35, 0.5);
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  color: var(--clr-pink);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 40px;
  border: none;
}

.form__input:focus:invalid {
  border-bottom: 3px solid var(--clr-red);
}

.form__input::-webkit-input-placeholder {
  color: var(--clr-tan);
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid var(--clr-pink);
}

.form__label {
  font-size: 1.2rem;
  font-weight: 800;
  margin-left: 2rem;
  margin-top: 0.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #232323;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__group:not(last-child) {
  margin-bottom: 2rem;
}

.form__heading {
  margin-bottom: 2rem;
}

.form__heading h3 {
  font-size: 5rem;
  font-weight: 200;
  font-family: var(--type-lato);
  color: var(--clr-tan);
}

.form__btn {
  background-color: var(--clr-tan);
  padding: 1rem 2rem;
  border: 1px solid var(--clr-tan);
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0.5rem 0.5rem 0 rgba(35, 35, 35, 0.5);
          box-shadow: 0.5rem 0.5rem 0 rgba(35, 35, 35, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: var(--clr-pink);
  color: var(--clr-black);
  -webkit-box-shadow: 1rem 1rem 1rem rgba(35, 35, 35, 0.4);
          box-shadow: 1rem 1rem 1rem rgba(35, 35, 35, 0.4);
}

.announcement {
  padding: 2rem 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: 2rem;
  font-size: 2rem;
}

.announcement__header {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20rem;
  gap: 5rem;
  max-width: 90vw;
}

.announcement__header--repText {
  position: absolute;
  top: 1em;
  left: 3em;
  color: var(--clr-pink);
  font-size: 2.75rem;
  z-index: -1;
}

.announcement__heading {
  font-size: 10em;
  text-shadow: 0.05em 0.05em 0 var(--clr-tan);
  color: var(--clr-black);
  line-height: 1;
}

.announcement__text {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 2rem 3rem;
  z-index: 10;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--clr-pink)), color-stop(50%, var(--clr-pink)), color-stop(50%, var(--clr-tan)), to(var(--clr-tan)));
  background-image: linear-gradient(to bottom, var(--clr-pink) 0%, var(--clr-pink) 50%, var(--clr-tan) 50%, var(--clr-tan) 100%);
}

.announcement__text--backBox {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -2rem;
  left: -2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--clr-tan)), color-stop(50%, var(--clr-tan)), color-stop(50%, var(--clr-pink)), to(var(--clr-pink)));
  background-image: linear-gradient(to bottom, var(--clr-tan) 0%, var(--clr-tan) 50%, var(--clr-pink) 50%, var(--clr-pink) 100%);
  z-index: -1;
}

.announcement__text p {
  font-size: 2rem;
  color: var(--clr-black);
  max-width: 50rem;
}

.announcement__img {
  position: relative;
}

.announcement__img img {
  height: 25rem;
  aspect-ratio: 1;
  z-index: 10;
}

.announcement__img--backBox {
  height: 25rem;
  aspect-ratio: 1;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: var(--clr-tan);
  z-index: -1;
}

.announcement__cta {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 12rem;
}

@media (min-width: 300px) {
  .announcement__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .announcement__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #btn-hide {
    display: none;
  }
}

@media (min-width: 900px) {
  .announcement__heading {
    font-size: 20rem;
  }
  .announcement__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .announcement__header--repText {
    font-size: 3rem;
  }
  .announcement__img img, .announcement__img--backBox {
    height: 25em;
  }
  .announcement__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .announcement__heading {
    font-size: 30rem;
  }
  .announcement__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .announcement__header--repText {
    font-size: 4rem;
  }
  .announcement__img img, .announcement__img--backBox {
    height: 40rem;
  }
  #btn-hide {
    display: initial;
  }
}

#link_button_container {
  padding: 5rem;
  background-color: var(--clr-tan);
}

.landing {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), to(black)), url(./imgs/theil_toPost_032022_1.jpg);
  background-image: linear-gradient(to bottom, transparent 30%, black 100%), url(./imgs/theil_toPost_032022_1.jpg);
  background-size: cover;
  background-position: center;
  padding: 0rem 5rem;
}

@media (max-width: 37.5em) {
  .landing {
    background-position: 29%;
  }
}

.landing ion-icon {
  color: rgba(103, 129, 144, 0.9);
  font-size: 8rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: aniDownIcon 2s infinite ease-in-out;
          animation: aniDownIcon 2s infinite ease-in-out;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#logo {
  font-size: 6rem;
  font-weight: bold;
  color: var(--clr-tan);
  text-shadow: 0.04em -0.04em 0 var(--clr-black);
}

.big-text {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  font-size: 7rem;
  color: #678190;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 1;
  font-family: var(--typo-serif);
  width: 100%;
  text-align: center;
}

.intro {
  background: var(--clr-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__text {
  color: #fff;
  font-size: 4rem;
}

.slider,
.sliderTwo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.slider {
  background: #678190;
}

.sliderTwo {
  background: var(--clr-tan);
}

.text {
  color: var(--clr-tan);
}

.hide {
  background: var(--clr-black);
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */