@keyframes aniImg {
  0% {
    transform: scale(1);
    box-shadow: 1em 2em 1em rgba(#232323, 0.4);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 1.5em 2.5em 4em rgba(#232323, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 1em 2em 1em rgba(#232323, 0.4);
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 1;
    left: -$navBar-height;
  }
}

@keyframes open {
  from {
    opacity: 1;
    left: -$iconBar-height;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes aniNav {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 240%;
  }
}
@keyframes aniDownIcon {
  0% {
    transform: translate(-50%, -50%);
  }
  30% {
    transform: translate(-50%, -45%);
  }
  60% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

// JS onLoad animations and js classes
.landing {
  min-height: 100vh;
  // background-image: url("../imgs/theil_insta_032022/theil_toPost_032022_1.jpg");
  // background-image: url("../imgs/fox-1.JPEG");
  background-image: linear-gradient(to bottom, transparent 30%, black 100%),
    url(./imgs/theil_toPost_032022_1.jpg);
  background-size: cover;
  background-position: center;
  // z-index: 1000;
  padding: 0rem 5rem;

  @include respond(phone) {
    background-position: 29%;
  }
  ion-icon {
    color: rgba(#678190, 0.9);
    font-size: 8rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: aniDownIcon 2s infinite ease-in-out;
    animation-delay: 0.2s;
  }
}

#logo {
  font-size: 6rem;
  font-weight: bold;
  color: var(--clr-tan);
  text-shadow: 0.04em -0.04em 0 var(--clr-black);
}

.big-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 7rem;
  color: #678190;
  // text-shadow: 0.04em -0.04em 0 var(--clr-black);
  text-transform: lowercase;
  font-weight: 400;
  line-height: 1;
  font-family: var(--typo-serif);
  width: 100%;
  text-align: center;
}

.intro {
  background: var(--clr-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__text {
  color: #fff;
  font-size: 4rem;
}

.slider,
.sliderTwo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}
.slider {
  background: #678190;
}
.sliderTwo {
  background: var(--clr-tan);
}
.text {
  color: var(--clr-tan);
}
.hide {
  background: var(--clr-black);
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
