.youTube {
  &__embed {
    padding-top: 5rem;
    width: 100%;
    // height: auto;
    aspect-ratio: 1.77777777777778;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100rem;
  }
  // &__hide {
  //   height: 5rem;

  //   width: 5rem;
  // }
}
